@media (min-width:992px) {
    p {
        font-size: 1.6em;
    }
}

@media (min-width:768px) {
    p {
        font-size: 1.3em;
    }
}

@media (min-width:768px) {
    h6 {
        font-size: 1.3em;
    }
}

@media (min-width:992px) {
    h6 {
        font-size: 1.6em;
    }
}