@media (max-width:639px) {
    p,
    h5 {
        font-size: 0.5em;
    }
}

@media (min-width:640px) and (max-width:767px) {
    p,
    h5 {
        font-size: 1em;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    p,
    h5 {
        font-size: 1.2em;
    }
}

@media (min-width:1024px) {
    p,
    h5 {
        font-size: 1.6em;
    }
}

@media (max-width:639px) {
    #BotonMenu {
        width: 20px;
        height: 20px;
    }
}

@media (min-width:640px) and (max-width:767px) {
    #BotonMenu {
        width: 20px;
        height: 20px;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    #BotonMenu {
        width: 25px;
        height: 25px;
    }
}

@media (min-width:1024px) {
    #BotonMenu {
        width: 30px;
        height: 30px;
    }
}

.negrita {
    font-weight: bold;
}

.negritaAzul {
    color: #0029fc;
    font-weight: bold;
}

.negritaRoja {
    color: #ff0000;
    font-weight: bold;
}

.negritaVerde {
    color: #10cd07;
    font-weight: bold;
}

.negritaMorado {
    color: #b635f9;
    font-weight: bold;
}

