@media (max-width:639px) {
    a,
    p,
    h5,
    li {
        font-size: 0.8em;
    }
}

@media (min-width:640px) and (max-width:767px) {
    a,
    p,
    h5,
    li {
        font-size: 1em;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    a,
    p,
    h5,
    li {
        font-size: 1.2em;
    }
}

@media (min-width:1024px) {
    a,
    p,
    h5,
    li,
    button {
        font-size: 1.6em;
    }
}

@media (max-width:639px) {
    #BotonMenu,
    btn-close {
        width: 20px;
        height: 20px;
    }
}

@media (min-width:640px) and (max-width:767px) {
    #BotonMenu,
    btn-close {
        width: 20px;
        height: 20px;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    #BotonMenu,
    btn-close {
        width: 25px;
        height: 25px;
    }
}

@media (min-width:1024px) {
    #BotonMenu,
    btn-close {
        width: 30px;
        height: 30px;
    }
}

.negrita {
    font-weight: bold;
}

.negritaAzul {
    color: #0029fc;
    font-weight: bold;
}

.negritaRoja {
    color: #ff0000;
    font-weight: bold;
}

.negritaVerde {
    color: #10cd07;
    font-weight: bold;
}

.negritaMorado {
    color: #a100f4;
    font-weight: bold;
}

